html {
    font-size: 50%;
}

.right-from-logo {
    flex-direction: column;
    width: 100vw;
}

.left-from-logo {
    flex-direction: column;
    width: 100vw;
}

.right-from-logo li {
    width: 100vw;
}

.left-from-logo li {
    width: 100vw;
}

.hero h2 {
    padding: 0rem 2rem;
}